<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="center">
        <b>Login</b>
        <br>
        <form method="POST" style="background-color: #fff;">
            <label>Username:</label>
            <input type="text" name="username" required><br><br>
            <label>Password:</label>
            <input type="text" name="password" required><br>
            {% if message %}
                <p class="message" style="font-size: 12px;">{{message}}</p>
            {% endif %}
            <button type="submit" class="create">Login</button>
        </form>
    </div>
</body>
</html>